button {
  font-size: 0.7rem;
  padding: 15px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.4);
  transition: 0.3s;
  background-color: #b22222e6;
  color: white;
  background-image: linear-gradient(
    to left,
    transparent,
    transparent 50%,
    #fff 50%,
    #fff
  );
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all 0.3s ease-in;
}
button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-position: 0 0;
  color: #000;

  a:hover {
    color: black;
  }
}

@media (min-width: $tabletPortrait) {
  button {
    font-size: 1rem;
  }
}
