footer {
  margin-top: 36px;
  // border-top: 1px solid #000;
  background-color: rgb(235, 235, 235);
  min-height: 14vh;
  text-align: center;

  h1 {
    font-size: 1.2em;
  }
  h3,
  a {
    font-size: 1em;
  }
}
