.home-contents {
  .about-me {
    text-align: center;
    font-size: 1.4em;
    padding: $padding;
    margin-bottom: 30px;
  }
  .skills {
    font-size: 1.1em;
    padding: $padding;
    margin-bottom: 30px;

    ul {
      list-style: none;
      li {
      }
    }
  }

  button {
    font-size: 1em;
    border-radius: 15px;
    padding: $padding/2;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    border-radius: 10px;
  }
  button:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  @media (min-width: $phoneLandscape) {
  }

  @media (min-width: $tabletPortrait) {
  }
}
