.home-contents {
  .about-me {
    text-align: center;
    font-size: 2.4em;
    padding: $padding;
    margin-bottom: 30px;
  }
  .skills {
    font-size: 1.5em;
    padding: $padding;
    margin-bottom: 30px;
  }
  .btn-project {
    padding: $padding;
    margin-bottom: 30px;
    input[type="submit"] {
      font-size: 1.5em;
      border-radius: 15px;
      padding: $padding/2;
      box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.5);
      transition: 0.3s;
      border-radius: 10px;
    }
    input:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
  }
}
