li {
  a:after {
    display: block;
    content: "";
    border-bottom: solid 3px firebrick;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
  a:hover:after {
    transform: scaleX(1);
  }
}
