header {
  svg {
    height: 80px;
    width: 200px;
    position: absolute;
    top: 0.5%;
    left: 5%;
    z-index: 1;

    .svg-logo {
      fill: black;
      font-variant: small-caps;
      font-family: "Phosphate";
      font-size: 1.6rem;
      font-style: italic;
    }

    @media (min-width: $tabletPortrait) {
      position: absolute;
      top: 1%;
      left: 5.5%;
      .svg-logo {
        font-size: 2rem;
      }
    }
  }
  svg:after {
    display: block;
    content: "";
    border-bottom: solid 3px firebrick;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
  svg:hover:after {
    transform: scaleX(1);
  }
}
