header {
  svg {
    height: 80px;
    width: 200px;
    position: absolute;
    top: 1%;
    left: 5%;
    z-index: 1;

    .svg-logo {
      fill: black;
      font-variant: small-caps;
      font-family: "Phosphate";
      font-size: 2.2rem;
      font-style: italic;
    }

    @media (min-width: $tabletPortrait) {
      position: fixed;
      top: 5%;
      left: 5.5%;
      .svg-logo {
        font-size: 2.8em;
      }
    }
  }
}
