.logo {
  position: absolute;
  top: 0%;
  left: 10%;
  width: 250px;
  margin-left: -90px;
  z-index: 1;

  @media (min-width: $tabletPortrait) {
    top: 10%;
    left: 10%;
  }
  img {
    width: 700px;
  }
}
