main {
  max-width: 100%;
  margin: 0 auto;
  min-height: 66vh;
  position: relative;
  section {
    margin-top: 50px;
    margin-left: 0;
    padding: $padding/2;
  }
  article {
    padding: $padding/2;
  }

  @media (min-width: $tabletPortrait) {
    section {
      padding: 2px 16px;
    }
    article {
      padding: $padding/2 $padding;
      @include flex-center;
      font-size: 0.8em;
    }
  }
}
