// Main Navigation styles
nav {
  $height: 40px;
  height: 0;
  overflow: hidden;
  width: calc(100% + 60px);
  background-color: rgba(201, 201, 201, 0.6);

  .activated {
    transition: all 0.3s ease;
  }
  .show & {
    margin-top: 80px;
    height: 344px;
  }
  ul {
    @include flex-layout-row;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    line-height: $height;
    color: $text-color-dark;
  }

  li {
    text-align: center;
    color: $text-color-dark;
    padding: 20px;
    width: 100%;
    #{$link-hover-selector} {
      border: none;
    }
  }
  a {
    font-size: 1.3em;
    display: block;
    padding: 20px;
    text-decoration: none;
    color: $text-color-dark;
    border-bottom: 1px solid #000000;
  }
}
@media (min-width: $tabletPortrait) {
  nav {
    position: fixed;
    top: 15%;
    left: 0;
    height: 100%;
    $height: 40px;
    top: 0;
    left: 0;
    max-width: 250px;
    margin: 0 auto;
    transform: scale(1);

    ul {
      @include flex-center;
      list-style: none;
      color: black;
      text-align: center;
      text-decoration: none;
      outline: none;
      margin-top: 200px;
    }
    li {
      line-height: $height;
      flex: 1;
      cursor: pointer;
    }
    a {
      font-size: 1.5em;
    }
  }
}
