// Main Navigation styles
nav {
  $height: 40px;
  height: 0;
  overflow: hidden;
  width: calc(100% + 60px);
  background-color: rgb(201, 201, 201);

  .activated {
    transition: all 0.3s ease;
  }
  .show & {
    margin-top: 80px;
    height: 450px;
  }
  ul {
    @include flex-layout-row;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    line-height: $height;
    color: $text-color-dark;
  }

  li {
    color: $text-color-dark;
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    #{$link-hover-selector} {
      border-bottom: none;
    }
  }
  a {
    display: block;
    font-size: 2em;
    padding: 20px;
    text-decoration: none;
    color: $text-color-dark;
  }
}
@media (min-width: $tabletPortrait) {
  nav {
    position: fixed;
    top: 15%;
    left: 0;
    height: 100%;
    $height: 40px;
    top: 0;
    left: 0;
    max-width: 300px;
    margin: 0 auto;
    transform: scale(1);

    ul {
      @include flex-center;
      list-style: none;
      color: black;
      text-align: center;
      text-decoration: none;
      outline: none;
      margin-top: 250px;
    }
    li {
      line-height: $height;
      flex: 1;
      cursor: pointer;
      padding: $padding;
      margin-bottom: $padding;

      #{$link-hover-selector} {
        border-right: 3px solid rgb(109, 2, 2);
      }
    }
    li:nth-child(3) {
      margin-bottom: 80px;
    }
    a {
      font-size: 2em;
    }
  }
}
