.projects {
  .section-title {
    text-align: center;
    font-size: 1.8em;
    padding: $padding;
    position: absolute;
    top: 16%;
    left: 53%;
  }
  .row-01,
  .row-02,
  .row-03 {
    display: block;
    margin: 0 auto;
  }

  .project-article {
    margin-top: 150px;
    margin-bottom: 150px;
    max-width: 100%;
    border-radius: 20px;
    height: 350px;
    border: 1px solid black;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  h2 {
    margin-bottom: $padding;
    position: absolute;
    top: -13%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .box {
    img {
      object-fit: contain;
      height: 260px;
      max-width: 100%;
    }

    p {
      font-size: 1.5em;
      position: absolute;
      top: 320px;
      right: -35px;
      transform: translate(-50%, -50%);
      text-align: right;
    }
  }
  .project-article a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }

  .box {
    transition: 0.3s ease-in;
  }
  @media (min-width: $tabletPortrait) {
    .section-title {
      top: 5%;
    }
    .row-01,
    .row-02,
    .row-03 {
      @include flex-layout-row;
      justify-content: space-evenly;
    }

    .project-article {
      margin-top: 50px;
      margin-bottom: 100px;
      width: 450px;
      font-size: 1em;
    }

    .box {
      img {
        object-fit: cover;
        // min-height: 100%;
        // width: auto;
      }
      p {
        right: -40px;
      }
    }
  }
}
