// Reset Styles
*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p {
  margin: 0;
}

p {
  line-height: 1.8;
}
button,
a,
input,
video {
  margin: 0;
  padding: 0;
  outline: none;
}
a {
  text-decoration: none;
}
