.single-project {
  article {
    display: block;
  }

  h1 {
    text-align: center;
    font-size: 2.5em;
    color: black;
  }
  h2 {
    text-align: left;
    font-size: 1.4em;
    color: black;
  }

  p {
    font-size: 1em;
    text-align: left;
  }
  ins {
    color: grey;
  }
  button {
    a {
      color: black;
    }
    padding: 20px;
    font-size: 1.3em;
  }

  .img {
    @include flex-center;
    margin-bottom: 20px;
    img {
      align-content: center;
      max-width: 50%;
    }
    p {
      text-align: center;
      font-size: 0.8em;
      color: rgb(71, 71, 71);
    }
  }
}

.project-links {
  font-size: 1.3em;
  text-align: center;
  position: relative;
  bottom: -70%;

  a {
    color: $text-color-dark;
  }
  a:nth-child(2) {
    margin-left: 120px;
  }
}
@media (min-width: $phoneLandscape) {
  .project-links {
    a:nth-child(2) {
      margin-left: 300px;
    }
  }
}

@media (min-width: $tabletPortrait) {
  .project-links {
    a {
      font-size: 1.2em;
    }
    a:nth-child(2) {
      margin-left: 100px;
    }
  }
}
@media (min-width: $desktopMedium) {
  .project-links {
    a {
      font-size: 1.5em;
    }
    a:nth-child(2) {
      margin-left: 350px;
    }
  }
}
