.single-project {
  hr {
    max-width: 180px;
    position: relative;
    top: -30px;
    height: 20px;
    background-color: rgba(139, 139, 139, 0.5);
  }
  h1 {
    text-align: center;
    font-size: 2.5em;
    color: black;
  }
  h2 {
    text-align: center;
    font-size: 1.6em;
    color: black;
  }

  p {
    font-size: 1.5em;
    text-align: center;
  }
  ins {
    color: grey;
  }
}
.project-links {
  font-size: 1.3em;
  text-align: center;
  position: relative;
  bottom: -70%;

  a {
    color: $text-color-dark;
  }
  a:nth-child(2) {
    margin-left: 120px;
  }
}
@media (min-width: $phoneLandscape) {
  .project-links {
    a:nth-child(2) {
      margin-left: 300px;
    }
  }
}

@media (min-width: $tabletPortrait) {
  .single-project {
    .screen-images {
      display: flex;
      flex-direction: column;
      padding: 20px;
      .img {
        border: 1px solid black;
        margin-bottom: 20px;
        img {
          // border: 1px solid black;
          max-width: 80%;
        }
        p {
          font-size: 1em;
          color: rgb(71, 71, 71);
        }
      }
    }
  }

  .project-links {
    a {
      font-size: 1.2em;
    }
    a:nth-child(2) {
      margin-left: 100px;
    }
  }
}
@media (min-width: $desktopMedium) {
  .project-links {
    a {
      font-size: 1.5em;
    }
    a:nth-child(2) {
      margin-left: 350px;
    }
  }
}
