// Typographic Defualts
$line-height: 1.4;

// Layout variables
$padding: 30px;

// Grid Values
$gutter: 2;

// List style
$list-style: none;

//color
$text-color-dark: black;
$text-color-light: white;

// Function to
// Convert Px to Ems
@function em($px, $bc: 16) {
  @return #{$px/$bc}em;
}

// Media Query Breakpoints
$desktopMedium: em(1250);
$tabletLandscape: em(1050);
$tabletPortrait: em(900);
$phoneLandscape: em(670);
$phonePortrait: em(420);

// Utility variables
$link-hover-selector: "&:hover, &:focus, &:active";
