#wave {
  position: relative;
  height: 70px;
  width: 100%;
  background: firebrick;
}
#wave:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 100%;
  height: 80px;
  background-color: rgb(235, 235, 235);
  left: -5px;
  top: 40px;
}
#wave:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 100%;
  height: 70px;
  background-color: firebrick;
  right: 0;
  top: 27px;
}
