*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p {
  margin: 0;
}

p {
  line-height: 1.8;
}

button,
a,
input {
  margin: 0;
  padding: 0;
  outline: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  background-color: #ebebeb;
  margin: 0 auto;
  max-width: 100%;
}

header {
  min-height: 120px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (min-width: 56.25em) {
  header {
    border-right: 1px solid black;
  }
}

header svg {
  height: 80px;
  width: 300px;
  position: absolute;
  top: 2%;
  left: 5%;
  z-index: 1;
}
header svg .svg-logo {
  fill: black;
  font-variant: small-caps;
  font-family: "Phosphate";
  font-size: 2.8em;
  font-style: italic;
}
@media (min-width: 56.25em) {
  header svg {
    top: 10%;
    left: 2.5%;
    width: 600px;
  }
  header svg .svg-logo {
    font-size: 4em;
  }
}

nav {
  height: 0;
  overflow: hidden;
  width: calc(100% + 60px);
  background-color: #c9c9c9;
}
nav .activated {
  transition: all 0.3s ease;
}
.show nav {
  margin-top: 80px;
  height: 450px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  line-height: 40px;
  color: black;
}
nav li {
  color: black;
  margin-top: 20px;
  padding: 20px;
  width: 100%;
}
nav li:hover, nav li:focus, nav li:active {
  border-bottom: none;
}
nav a {
  display: block;
  font-size: 2em;
  padding: 20px;
  text-decoration: none;
  color: black;
}

@media (min-width: 56.25em) {
  nav {
    position: fixed;
    top: 15%;
    left: 0;
    height: 100%;
    top: 0;
    left: 0;
    max-width: 350px;
    margin: 0 auto;
    transform: scale(1);
  }
  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    color: black;
    text-align: center;
    text-decoration: none;
    outline: none;
    margin-top: 350px;
  }
  nav li {
    line-height: 40px;
    flex: 1;
    cursor: pointer;
    padding: 30px;
    margin-bottom: 30px;
  }
  nav li:hover, nav li:focus, nav li:active {
    border-right: 3px solid #6d0202;
  }
  nav li:nth-child(3) {
    margin-bottom: 80px;
  }
  nav a {
    font-size: 2em;
  }
}
.menu-btn {
  display: block;
  width: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
  position: absolute;
  top: 6%;
  right: 10%;
  z-index: 99999;
}
.menu-btn .button-content {
  height: 24px;
}
.menu-btn .text {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}
.menu-btn .bar {
  cursor: pointer;
  display: block;
  height: 4px;
  background-color: black;
  width: 90%;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.show .menu-btn .bar {
  background-color: transparent;
}
.menu-btn .bar:after {
  width: 70%;
  content: "";
  height: 4px;
  top: 10px;
  left: 0;
  background-color: black;
  position: absolute;
  transition: all 0.3s ease-in-out;
}
.show .menu-btn .bar:after {
  top: 0;
  transform: rotate(45deg);
}
.menu-btn .bar:before {
  width: 70%;
  content: "";
  height: 4px;
  top: -10px;
  left: 0;
  background-color: black;
  position: absolute;
  transition: all 0.3s ease-in-out;
}
.show .menu-btn .bar:before {
  top: 0;
  transform: rotate(-45deg);
}
.menu-btn:focus,
.menu-btn .button-content:focus {
  outline: none;
}
.menu-btn:focus .button-content {
  outline: 5px solid #7683c9;
}
@media (min-width: 56.25em) {
  .menu-btn {
    display: none;
  }
}

main {
  max-width: 100%;
  margin: 0 auto;
  height: 100%;
  min-height: 73vh;
}

section {
  margin-left: 0;
  padding: 15px;
}

article {
  padding: 15px;
}

@media (min-width: 56.25em) {
  section {
    margin-left: 180px;
    padding: 2px 16px;
  }

  article {
    margin-left: 150px;
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.3em;
  }
}
.home-contents .about-me {
  text-align: center;
  font-size: 2.4em;
  padding: 30px;
  margin-bottom: 30px;
}
.home-contents .skills {
  font-size: 1.5em;
  padding: 30px;
  margin-bottom: 30px;
}
.home-contents .btn-project {
  padding: 30px;
  margin-bottom: 30px;
}
.home-contents .btn-project input[type=submit] {
  font-size: 1.5em;
  border-radius: 15px;
  padding: 15px;
}

.projects .section-title {
  text-align: center;
  font-size: 1.8em;
  padding: 30px;
  position: relative;
  top: 16%;
  left: 53%;
  margin-top: 50px;
}
.projects .row-01,
.projects .row-02,
.projects .row-03 {
  display: block;
  margin: 0 auto;
}
.projects .project-article {
  margin-top: 120px;
  margin-bottom: 130px;
  max-width: 100%;
  border-radius: 20px;
  height: 350px;
  border: 1px solid black;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
.projects h2 {
  margin-bottom: 30px;
  position: absolute;
  top: -13%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.projects .box img {
  object-fit: contain;
  height: 260px;
  max-width: 100%;
}
.projects .box p {
  font-size: 1.5em;
  position: absolute;
  top: 320px;
  right: -35px;
  transform: translate(-50%, -50%);
  text-align: right;
}
.projects .project-article a {
  text-decoration: none;
  color: black;
}
.projects .box {
  transition: 0.3s ease-in;
}
@media (min-width: 56.25em) {
  .projects .section-title {
    top: 5%;
  }
  .projects .row-01,
.projects .row-02,
.projects .row-03 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .projects .project-article {
    margin-top: 50px;
    margin-bottom: 100px;
    width: 450px;
    font-size: 1em;
  }
  .projects .box img {
    object-fit: cover;
  }
  .projects .box p {
    right: -40px;
  }
}

.single-project h1 {
  text-align: center;
  font-size: 2em;
  color: black;
}

.project-links {
  font-size: 1.3em;
  text-align: center;
  position: relative;
  bottom: -70%;
}
.project-links a {
  color: black;
}
.project-links a:nth-child(2) {
  margin-left: 120px;
}

@media (min-width: 41.875em) {
  .project-links a:nth-child(2) {
    margin-left: 300px;
  }
}
@media (min-width: 56.25em) {
  .single-project .screen-images {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .single-project .screen-images .img {
    flex: 50%;
  }
  .single-project .screen-images .img img {
    width: 50%;
  }

  .project-links a {
    font-size: 1.2em;
  }
  .project-links a:nth-child(2) {
    margin-left: 100px;
  }
}
@media (min-width: 78.125em) {
  .project-links a {
    font-size: 1.5em;
  }
  .project-links a:nth-child(2) {
    margin-left: 350px;
  }
}
footer {
  margin-top: 36px;
  border-top: 1px solid #000;
  background-color: #ebebeb;
  min-height: 20vh;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
