*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p {
  margin: 0;
}

p {
  line-height: 1.8;
}

button,
a,
input {
  margin: 0;
  padding: 0;
  outline: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  background-color: #ebebeb;
  margin: 0 auto;
  max-width: 100%;
}

header {
  padding: 15px 30px;
  background-color: #ebebeb;
  height: 130px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (min-width: 56.25em) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.logo {
  position: absolute;
  top: 0%;
  left: 10%;
  width: 250px;
  margin-left: -90px;
  z-index: 1;
}
@media (min-width: 56.25em) {
  .logo {
    top: 10%;
    left: 10%;
  }
}
.logo img {
  width: 700px;
}

nav {
  position: absolute;
  top: 15%;
  left: 0;
  width: 100%;
  margin: 0 auto;
  transform: scale(0);
  background-color: #dfdfdf;
}
nav nav.activated {
  transition: all 0.3s ease-out;
}
.show nav {
  transform: scale(1);
}
nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  line-height: 40px;
  color: black;
}
nav li {
  color: black;
  margin-top: 20px;
  padding: 20px;
  width: 100%;
}
nav li:hover, nav li:focus, nav li:active {
  border-bottom: none;
}
nav a {
  font-size: 2em;
  padding: 20px;
  text-decoration: none;
  color: black;
}

@media (min-width: 56.25em) {
  nav {
    top: 0;
    left: 0;
    max-width: 350px;
    margin: 0 auto;
    transform: scale(1);
  }
  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    color: black;
    text-align: center;
    text-decoration: none;
    outline: none;
    margin-top: 350px;
  }
  nav li {
    line-height: 40px;
    flex: 1;
    cursor: pointer;
    padding: 30px;
    margin-bottom: 30px;
  }
  nav li:hover, nav li:focus, nav li:active {
    border-right: 3px solid #6d0202;
  }
  nav li:nth-child(3) {
    margin-bottom: 80px;
  }
  nav a {
    font-size: 2em;
  }
}
.menu-btn {
  display: block;
  width: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
  position: absolute;
  top: 6%;
  right: 10%;
}
.menu-btn .button-content {
  height: 24px;
}
.menu-btn .text {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}
.menu-btn .bar {
  cursor: pointer;
  display: block;
  height: 4px;
  background-color: black;
  width: 90%;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.show .menu-btn .bar {
  background-color: transparent;
}
.menu-btn .bar:after {
  width: 70%;
  content: "";
  height: 4px;
  top: 10px;
  left: 0;
  background-color: black;
  position: absolute;
  transition: all 0.3s ease-in-out;
}
.show .menu-btn .bar:after {
  top: 0;
  transform: rotate(45deg);
}
.menu-btn .bar:before {
  width: 70%;
  content: "";
  height: 4px;
  top: -10px;
  left: 0;
  background-color: black;
  position: absolute;
  transition: all 0.3s ease-in-out;
}
.show .menu-btn .bar:before {
  top: 0;
  transform: rotate(-45deg);
}
.menu-btn:focus,
.menu-btn .button-content:focus {
  outline: none;
}
.menu-btn:focus .button-content {
  outline: 5px solid #7683c9;
}
@media (min-width: 56.25em) {
  .menu-btn {
    display: none;
  }
}

main {
  max-width: 100%;
  margin: 0 auto;
  min-height: 71vh;
}

section {
  margin-left: 0;
  padding: 15px;
}

article {
  padding: 15px;
}

@media (min-width: 56.25em) {
  section {
    margin-left: 200px;
    padding: 2px 16px;
  }

  article {
    margin-left: 160px;
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.3em;
  }
}
.home-contents .about-me {
  text-align: center;
  font-size: 2.4em;
  padding: 30px;
  margin-bottom: 30px;
}
.home-contents .skills {
  font-size: 1.5em;
  padding: 30px;
  margin-bottom: 30px;
}
.home-contents .btn-project {
  padding: 30px;
  margin-bottom: 30px;
}
.home-contents .btn-project input[type=submit] {
  font-size: 1.5em;
  border-radius: 15px;
  padding: 15px;
}

.projects .section-title {
  text-align: center;
  font-size: 1.8em;
  padding: 30px;
  position: absolute;
  top: 16%;
  left: 53%;
}
.projects .row-01,
.projects .row-02,
.projects .row-03 {
  display: block;
  margin: 0 auto;
}
.projects .project-article {
  margin-top: 150px;
  margin-bottom: 150px;
  max-width: 100%;
  border-radius: 20px;
  height: 350px;
  border: 1px solid black;
  position: relative;
}
.projects h2 {
  margin-bottom: 30px;
  position: absolute;
  top: -13%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.projects .box {
  font-size: 1em;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
.projects .project-article a {
  text-decoration: none;
  color: black;
}
.projects .box {
  transition: 0.3s ease-in;
}
@media (min-width: 56.25em) {
  .projects .section-title {
    top: 5%;
  }
  .projects .row-01,
.projects .row-02,
.projects .row-03 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }
  .projects .project-article {
    margin-top: 50px;
    margin-bottom: 100px;
    width: 450px;
    font-size: 1em;
  }
  .projects .box {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    padding: 0;
  }
}

.single-project h1 {
  text-align: center;
  font-size: 2em;
  color: black;
}

footer {
  margin-top: 36px;
  border-top: 1px solid #000;
  background-color: #ebebeb;
  min-height: 20vh;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
